<ion-view view-title="Premium features disabled">
<ion-nav-buttons side="right">
  <button class="button button-block button-outline button-energized" ng-click="doSomething()">
    Get more
  </button>
</ion-nav-buttons>
  <ion-content class="padding youStyle">
    <div class="text-center txtName">
      <span>Everton Costa</span>
    </div>
    <div class="card meCard">
      <div class="item item-borderless txtDivider text-wrap">
        Knowing yourself is the beginning of everythong.
      </div>
      <div class="item item-borderless">
        <span class="item-text-wrap">
          Understand why you do things the way you do, 
          anddiscover what drives, inspires and worries you.
        </span>
        <div class="text-center">
          <button class="button button-energized cardBtn">
            Discover your personality
          </button>
        </div>
      </div>
    </div>
    <div class="card meCard">
      <div class="item item-borderless imgBG">
        <span class="item-text-wrap">
          I will sleep better, win a Nobel Prize and be more happy.
        </span>
      </div>
    </div>
  </ion-content>
</ion-view>
